/*
 * Cliche_Air 共通ハードウェア定義
 */

 / {
    chosen {
        zmk,kscan = &kscan0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <4>;
    };

    /* ---------------------------
     * Keyscan controller
     * --------------------------- */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
        row-gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        status = "okay";
    };

    /* ---------------------------
     * Rotary encoder
     * --------------------------- */
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        status = "disabled";
    };

    /* ---------------------------
     * Keymap sensor
     * --------------------------- */
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <10>;
        status = "okay";
    };
};

/* ---------------------------
 * 外部電源制御
 * --------------------------- */
ext_power: ext_power {
    compatible = "zmk,ext-power-transient";
    gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
    status = "okay";
};

/* ---------------------------
 * LED ストリップ制御
 * --------------------------- */
led_strip: led_strip {
    compatible = "zmk,led-stripnize";
    gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
    status = "okay";
};

/* ---------------------------
 * ADC 有効化
 * --------------------------- */
&adc {
    status = "okay";
};
