/ {
    chosen {
        /* default kscan handle (can be overridden in overlays) */
        zmk,kscan = &kscan0;
    };

    /* ---------------------------
     * Keyscan controller (common)
     * ---------------------------
     */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        status = "okay";
    };

    /* ---------------------------
     * Rotary encoder (common)
     * ---------------------------
     */
    encoder0: encoder {
        compatible = "alps,ec11";
        status = "disabled";
    };

    /* ---------------------------
     * External power / LED VCC control
     * ---------------------------
     */
    ext_power: ext_power {
        compatible = "zmk,ext-power-transient";
        gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    /* ---------------------------
     * LED data / strip node
     * ---------------------------
     */
    led_strip: led_strip {
        compatible = "zmk,led-stripnize";
        gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    /* ---------------------------
     * Battery voltage measurement
     * ---------------------------
     */
    battery_voltage: battery_voltage {
        compatible = "voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <1000000>;
        full-ohms   = <2000000>;
        status = "okay";
    };
};
