/*
 * Right-side overlay for Cliche_Air
 * ---------------------------------
 * - Provides key matrix pin mapping for right half
 * - Disables encoder (left-only)
 * - Enables trackball (right-only)
 */

#include <dt-bindings/input/input-event-codes.h>
#include "cliche_air.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
    };
};

/* --- SPI0 pinctrl definition (required for Seeeduino XIAO BLE) --- */
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 15)>,
                    <NRF_PSEL(SPIM_MISO, 0, 14)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 15)>,
                    <NRF_PSEL(SPIM_MISO, 0, 14)>;
        };
    };
};

/* Key matrix (right) */
&kscan0 {
    row-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    col-gpios = <&gpio0 25 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

    diode-direction = "col2row";
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;
};

/* Disable encoder on right side */
&encoder0 {
    status = "disabled";
};

/* Enable trackball (PixArt PMW3610) on SPI0 */
&spi0 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

    trackball_r: pmw3610@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <800>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        status = "okay";
    };
};
