if SHIELD_CLICHE_AIR_R

config ZMK_KEYBOARD_NAME
    string
    default "cliche_air_r"

config ZMK_SPLIT
    bool
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y

config ZMK_SPLIT_ROLE_PERIPHERAL
    bool
    default n

endif

if SHIELD_CLICHE_AIR_L

config ZMK_KEYBOARD_NAME
    string
    default "cliche_air_l"

config ZMK_SPLIT
    bool
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default n

config ZMK_SPLIT_ROLE_PERIPHERAL
    bool
    default y

endif
