/*
 * config/boards/shields/cliche_air/cliche_air.dtsi
 * Common DeviceTree overlay for Cliche_Air (Seeed XIAO BLE nRF52840)
 */

#include <dt-bindings/zmk/matrix-transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    /* Placeholder kscan node. Left/right overlays must set row/col gpios. */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        status = "okay";
    };

    encoder0: encoder {
        compatible = "alps,ec11";
        status = "disabled";
    };

    ext_power: ext_power {
        compatible = "zmk,ext-power-transient";
        gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    led_strip: led_strip {
        compatible = "zmk,led-stripnize";
        gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    battery_voltage: battery_voltage {
        compatible = "voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <1000000>;
        full-ohms   = <2000000>;
        status = "okay";
    };
};
