/* Right half DTSI for Cliche_Air */

#include "../cliche_air/cliche_air.dtsi"

&kscan0 {
    row-gpios =
        <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    col-gpios =
        <&gpio0 25 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

    diode-direction = "col2row";
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;
};

&encoder0 {
    status = "disabled";
};

&battery_voltage {
    io-channels = <&adc 3>;
    output-ohms = <1000000>;
    full-ohms   = <2000000>;
    status = "okay";
};

&spi0 {
    status = "okay";

    pmw3610@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        cs-gpios   = <&gpio0 6  GPIO_ACTIVE_LOW>;
        irq-gpios  = <&gpio0 4  GPIO_ACTIVE_LOW>;
        sck-gpios  = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        sdio-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
        cpi = <1600>;
        status = "okay";
    };
};
