#include "Cliche_Air.dtsi"

&kscan0 {
    col-gpios = <&xiao_d 10 GPIO_ACTIVE_HIGH>,
                <&xiao_d 9 GPIO_ACTIVE_HIGH>,
                <&xiao_d 8 GPIO_ACTIVE_HIGH>,
                <&xiao_d 7 GPIO_ACTIVE_HIGH>,
                <&gpio0 10 GPIO_ACTIVE_HIGH>,
                <&gpio0 9 GPIO_ACTIVE_HIGH>;
};

&left_encoder {
    status = "okay";
};

&sk6812_led {
    status = "okay";
};

/ {
    zmk,split-role = "peripheral";

    /* 左手バッテリ設定 */
    non_lipo_battery_left: non_lipo_battery_left {
        compatible = "zmk,non-lipo-battery";
        io-channels = <&adc 0>;
        full-mv = <4200>;
        empty-mv = <3300>;
        status = "okay";
    };

    battery_monitor_left: battery_monitor_left {
        compatible = "zmk,battery-monitor";
        manager = <&non_lipo_battery_left>;
        status = "okay";
    };

    led_indicator_left: led_indicator_left {
        compatible = "zmk,led-indicator";
        led-strip = <&sk6812_led>;
        battery = <&battery_monitor_left>;
        power-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    chosen {
        zmk,battery = &non_lipo_battery_left;
    };

    aliases {
        battery-monitor = &battery_monitor_left;
        led-indicator = &led_indicator_left;
    };
};
