/* Left half DTSI for Cliche_Air */

#include "../cliche_air/cliche_air.dtsi"

&kscan0 {
    row-gpios =
        <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    col-gpios =
        <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
        <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

    diode-direction = "col2row";
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;
};

&encoder0 {
    status = "okay";
    a-gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
};

&battery_voltage {
    io-channels = <&adc 2>;
    output-ohms = <1000000>;
    full-ohms   = <2000000>;
    status = "okay";
};
